<main  >

  <div class="relative mx-auto px-8 max-w-7xl py-12   md:px-12">
    <div
      class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2 ">

      <figure>
        <a href="https://www.coursera.org/account/accomplishments/verify/924D5XNKGSLV" target="_blank">
          <img
            class="w-full rounded-3xl shadow-2xl"
            src="https://cdn.dribbble.com/userupload/15925111/file/original-e583ca71d6c0c03e918fe954c7604fd6.png?resize=1328x1027"
            alt="meta"
            width="100%"
            height="600"
          /></a>

        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="https://www.coursera.org/account/accomplishments/verify/924D5XNKGSLV" target="_blank">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Meta
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Introduction to Frontend Development</p>
          </div>
          <p class="text-base text-tomato-500">2023</p>
        </div>
      </figure>      

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15925360/file/original-839d2c85b3deb2fa1aa5ed3ba3a59521.png?resize=1327x1023"
          alt="northeastern university"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="https://www.coursera.org/account/accomplishments/verify/S3Y6NJG2DJXV" target="_blank">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Northeastern University
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Data Privacy Fundamentals</p>
          </div>
          <p class="text-base text-tomato-500">2021</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15925623/file/original-915de34bfdcd373a30b9de0ba2a64b61.png?resize=1327x1023"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="https://coursera.org/share/86cc04dcb3b34773528f15824d3ec499" target="_blank">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Georgia Institute of Technology
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Introduction to User Experience Design</p>
          </div>
          <p class="text-base text-tomato-500">2021</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Issuing Body
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Certification</p>
          </div>
          <p class="text-base text-tomato-500">Year</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Issuing Body
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Certification</p>
          </div>
          <p class="text-base text-tomato-500">Year</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Issuing Body
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Certification</p>
          </div>
          <p class="text-base text-tomato-500">Year</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="https://coursera.org/share/6e296e67de5e69b8ad00c3e0874d9d12" target="_blank">
                <span aria-hidden="true" class="absolute inset-0"></span>
                University of London
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Information Security: Context and Introduction</p>
          </div>
          <p class="text-base text-tomato-500">2021</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/"
          alt="university of maryland"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="https://www.coursera.org/account/accomplishments/verify/7NMQNL5D575M" target="_blank">
                <span aria-hidden="true" class="absolute inset-0"></span>
                University of Maryland
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Cybersecurity For Everyone</p>
          </div>
          <p class="text-base text-tomato-500">2022</p>
        </div>
      </figure>
    </div>
  </div>
</main>
