<main>
  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <div class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2">
      
      <a
        href="https://coursera.org/share/0092729e1b1c5006637b56986475784a"
        target="_blank"
      >
        <figure>
          <img
            class="w-full rounded-3xl shadow-2xl"
            src="https://cdn.dribbble.com/userupload/15925111/file/original-e583ca71d6c0c03e918fe954c7604fd6.png?resize=1328x1027"
            alt="meta"
            width="100%"
            height="600"
          />
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="text-sm text-negroni-500">Meta</h3>
              <p class="mt-1 text-lg font-medium leading-6 text-white">
                Introduction to Frontend Development
              </p>
            </div>
            <p class="text-base text-tomato-500">2023</p>
          </div>
        </figure>
      </a>

      <a href="https://coursera.org/share/b2ef19f1aa2db9f8eea5bc36445229b6" target="_blank">
        <figure>
          <img
            class="w-full rounded-3xl shadow-2xl"
            src="https://cdn.dribbble.com/userupload/15925727/file/original-2bde6f158dbdee826fb18ec5aa00a74e.png?resize=1327x1023"
            alt=""
            width="1310"
            height="873"
          />
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="text-sm text-negroni-500">
                  Duke University
              </h3>
              <p class="mt-1 text-lg font-medium leading-6 text-white">
                Introduction to Machine Learning
              </p>
            </div>
            <p class="text-base text-tomato-500">2022</p>
          </div>
        </figure>
      </a>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15925802/file/original-11dcda1dd60b16b1ac9c058f6bd0144b.png?resize=1327x1023"
          alt="university of maryland"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a
                href="https://www.coursera.org/account/accomplishments/verify/7NMQNL5D575M"
                target="_blank"
              >
                <span aria-hidden="true" class="absolute inset-0"></span>
                University of Maryland
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Cybersecurity For Everyone
            </p>
          </div>
          <p class="text-base text-tomato-500">2022</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15925360/file/original-839d2c85b3deb2fa1aa5ed3ba3a59521.png?resize=1327x1023"
          alt="northeastern university"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a
                href="https://coursera.org/share/5aa519b1bdb0b8448015103005064c03"
                target="_blank"
              >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Northeastern University
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Data Privacy Fundamentals
            </p>
          </div>
          <p class="text-base text-tomato-500">2021</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15925623/file/original-915de34bfdcd373a30b9de0ba2a64b61.png?resize=1327x1023"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a
                href="https://coursera.org/share/86cc04dcb3b34773528f15824d3ec499"
                target="_blank"
              >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Georgia Institute of Technology
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Introduction to User Experience Design
            </p>
          </div>
          <p class="text-base text-tomato-500">2021</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15925751/file/original-a8c0b91e2098c3e963c59014dd3bda36.png?resize=1327x1023"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a
                href="https://coursera.org/share/f955a45a193943ced399b3e0e07d14e6"
                target="_blank"
              >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Duke University
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Data Science Math Skills
            </p>
          </div>
          <p class="text-base text-tomato-500">2021</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15925836/file/original-c07ad3ff8e5390ffc68bc08955c6f34a.png?resize=1327x1023"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a
                href="https://www.coursera.org/account/accomplishments/verify/YWPSRKWTUPTZ"
                target="_blank"
              >
                <span aria-hidden="true" class="absolute inset-0"></span>
                University of London
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Information Security: Context and Introduction
            </p>
          </div>
          <p class="text-base text-tomato-500">2021</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15926467/file/original-119ea3ae85dbc4014883fab272ebaf98.png?resize=1443x1023"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a
                href="https://coursera.org/share/b2ef19f1aa2db9f8eea5bc36445229b6"
                target="_blank"
              >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Google
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              The Fundamentals of Digital Marketing
            </p>
          </div>
          <p class="text-base text-tomato-500">2023</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15926259/file/original-65fd398fb240afa2254a2deb5a67bdbf.png?resize=1140x880"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a
                href="https://coursera.org/share/b2ef19f1aa2db9f8eea5bc36445229b6"
                target="_blank"
              >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Hubspot Academy
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Email Marketing
            </p>
          </div>
          <p class="text-base text-tomato-500">2023</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15926395/file/original-8340db30ec5a552f880ca711a05f8353.jpg?resize=752x"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a
                href="https://coursera.org/share/b2ef19f1aa2db9f8eea5bc36445229b6"
                target="_blank"
              >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Great Learning Academy
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Data Science Foundations
            </p>
          </div>
          <p class="text-base text-tomato-500">2023</p>
        </div>
      </figure>

      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://cdn.dribbble.com/userupload/15926531/file/original-6f5e4e8ee95f279190203589ebba5603.png?resize=1323x1023"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a
                href="https://coursera.org/share/b2ef19f1aa2db9f8eea5bc36445229b6"
                target="_blank"
              >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Steve Rummler HOPE Network
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Overdose Response Training
            </p>
          </div>
          <p class="text-base text-tomato-500">2023</p>
        </div>
      </figure>
    </div>
  </div>
</main>