<footer >
  <div class="items-center text-center 2xl:max-w-7xl lg:px-16 md:px-12 mx-auto px-8 w-xl xl:px-36">
    <div class="flex flex-col gap-y-12 items-start justify-between lg:flex-row lg:items-center lg:py-16 pb-6 pt-16">
      <div class="lg:text-center lg:mx-auto">

        <nav class="flex gap-8 mt-11">
          <a href="https://aarated.netlify.app" target="_blank" class="text-negroni-500  h-8 delay-150  hover:text-tomato-500  text-sm transition-colors">
           Resume
          </a>
          <a href="https://github.com/aarnav1729" target="_blank" class="text-negroni-500  h-8 delay-150  hover:text-tomato-500  text-sm transition-colors">
            Github
          </a>
          <a href="https://webstaxinc.vercel.app/#projects" target="_blank" class="text-negroni-500  h-8 delay-150  hover:text-tomato-500  text-sm transition-colors">
            Webstax Inc
          </a>
        </nav>
      </div>
    </div>

    <div class="flex flex-col border-t border-negroni-500/10 lg:mx-auto lg:text-center md:pt-6 pb-12 pt-8">
      <p class="text-tomato-500 md:mt-0 mt-6 text-sm">
        Designed and Developed by <a href="https://aarated.netlify.app/" target="_blank" class="hover:text-white">Aarnav Singh</a>
      </p>
    </div>
  </div>
</footer>